* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden;
}

$primary: #000;
$border: #e2dcdc;
$bg: #f1f1f1;
$color: #555;
// $gradient: linear-gradient(180deg, rgba(254, 249, 228, 0) 0%, #fef9e4 100%);
$transition: all 0.3s ease-in-out;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700");

@font-face {
  font-family: myFont;
  src: url(../Proxima-Nova-Font.otf);
}

body,
span {
  font-family: myFont !important;
}

img {
  object-fit: cover;
}

a {
  color: $primary;
  font-family: myFont;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $primary;
  }
}

p {
  font-family: myFont;
}

span,
h1,
h2,
h3,
h4,
h5 {
  color: $primary;
  font-family: "Montserrat", sans-serif;
}

// ---------------------------
.d-none {
  display: none;
}

.d-block {
  display: flex;
}

.active-nav {
  background: $primary;
  color: #fff !important;
}

.pre-loader {
  background: #fff;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100000;

  .loading {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    .loader-icon {
      position: absolute;
      top: calc(50% - 35px);
      left: calc(50% - 35px);
      border: 7px solid #f3f3f3;
      border-radius: 50%;
      border-top: 7px solid $primary;
      width: 70px;
      height: 70px;
      animation: spin 2s linear infinite;
    }

    .img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
      img {
        object-fit: cover;
        height: 45px;
        margin: 0 auto;
        display: block;
      }
    }
    span {
      transform: translateY(60px);
      display: block;
      font-size: 14px;
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.uk-button {
  background: transparent;
  position: relative;
  padding: 0;
  transition: $transition;
  margin-top: 1rem;
  a {
    transition: $transition;
    display: block;
    position: relative;
    z-index: 3;
    padding: 3px 20px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 0;
    height: 100%;
    transition: 0.5s;
    z-index: 2;
  }
  &:hover::before {
    width: 50%;
  }
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 0;
    height: 100%;
    transition: 0.5s;
    z-index: 2;
  }
  &:hover::after {
    width: 50%;
  }
}

.uk-button-light {
  border: 1px solid #fff;
  a {
    color: #fff !important;
  }

  &:hover a {
    color: $primary !important;
  }
  &::before {
    background: #fff;
  }

  &::after {
    background: #fff;
  }
}
.uk-button-dark {
  border: 1px solid $primary;
  a {
    color: $primary !important;
  }

  &:hover a {
    color: #fff !important;
  }
  &::before {
    background: $primary;
  }

  &::after {
    background: $primary;
  }
}

.txt-heading {
  position: relative;
  display: inline-block;

  h3 {
    position: relative;
    display: inline-block;
    z-index: 1;
  }
  .circle {
    position: absolute;
    top: -20px;
    right: -10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .linear-bg {
    background: linear-gradient(
      107.82deg,
      rgba(255, 255, 255, 0.48) 0%,
      rgba(255, 255, 255, 0.12) 99.45%
    );
    backdrop-filter: blur(75px);
  }
  .dark-bg {
    background: $bg;
  }
  .light-bg {
    background: #fff;
  }
}
.title {
  display: inline-block;
  font-weight: bold;
  font-size: 25px;
  margin: 3rem 0 !important;
  position: relative;
  z-index: 1;

  img {
    height: 30px;
    margin-left: 0.5rem;
  }

  &::after {
    content: url(../img/line.png);
    position: absolute;
    bottom: -15px;
    left: 0;
  }
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  opacity: 1;
  background: transparent;
  border: 1px solid $color;
  transition: width 0.3s linear, height 0.3s linear;
}
.swiper-pagination-bullet-active {
  background: $color;
}

hr {
  border-top: 1px solid $border;
}

// ------- header & navbar -------
header {
  position: relative;
  z-index: 1000;
}
.head {
  background: $primary;
  padding-bottom: 3rem;
  border-bottom: 1px solid #fff;
  .head-info {
    p {
      margin: 0;
      color: #fff;
      padding: 0.5rem 1rem;
      display: inline-block;
      font-size: 14px;
    }
  }
  .uk-icon {
    color: $primary;
  }
  .head-icon {
    a {
      display: inline-block;
      transition: $transition;
      padding: 0.5rem 0;
      color: #fff;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
.site-nav {
  background: #fff;
  padding: 0.3rem;
  border: 1px solid $border;
  margin-top: -3rem;

  .logo {
    display: flex;
    align-items: center;
    img {
      height: 90px;
      position: absolute;
      top: 0;
    }
    .p1 {
      color: $primary;
      font-size: 16px;
      font-weight: bold;
      margin: 0;
      line-height: 22px;
      margin-bottom: 5px;
      margin-left: 4rem;
    }
  }

  .navbar {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      // .active-nav {
      //   background: $primary;
      //   color: #fff !important;
      // }
      .nav-item {
        font-size: 12px;
        text-transform: capitalize;
        position: relative;
        z-index: 1000;
        transition: $transition;
        padding: 0.375rem 0.7rem;
        display: block;
        overflow: hidden;
        color: #666666;
        border-right: 5px solid #fff;

        &:hover {
          color: #fff !important;
        }

        &:after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          display: block;
          background: $primary;
          height: 180%;
          width: 0;
          border-radius: 0 0 50% 50%;
          transition: 0.5s;
          z-index: -1;
        }

        &:hover:after {
          width: 50%;
        }
        &:before {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          display: block;
          background: $primary;
          height: 180%;
          width: 0;
          border-radius: 0 0 50% 50%;
          transition: 0.5s;
          z-index: -1;
        }

        &:hover:before {
          width: 50%;
        }
      }
    }

    .uk-navbar-dropdown {
      border-top: 3px solid $primary;
      padding: 10px 20px;

      .uk-nav > li > a {
        font-size: 12px;
      }
      &::after {
        content: "";
        position: absolute;
        display: block;
        top: -11px;
        left: 9px;
        border: 5px solid transparent;
        border-bottom-width: 5px;
        border-bottom-color: $primary;
      }
    }

    .dropdown:hover .nav-item {
      color: $primary;
    }
    .active-nav .uk-icon > svg {
      color: #fff;
    }
    .uk-icon > svg {
      transition: transform 0.3s ease-in-out;
      color: $primary;
      margin-left: 0.3rem;
      width: 15px;
    }
    .dropdown:hover .uk-icon > svg {
      transform: rotate(-180deg);
      color: currentColor;
    }
  }

  .hamburger-menu {
    width: 50px;
    height: 50px;
    transition: $transition;

    a {
      color: #555;
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 1000;
      overflow: hidden;
      transition: all 0.3s ease-in-out;

      span {
        display: block;
        text-align: center;
        line-height: 45px;
      }

      &:hover {
        color: #fff;
        transition: all 0.3s ease-in-out;
        border: none;
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        background: $primary;
        border-radius: 9px 0 0 9px;
        width: 0;
        height: 180%;
        border-radius: 0 0 50% 50%;
        transition: 0.5s;
        z-index: -1;
      }
      &:hover::before {
        width: 50%;
      }
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        background: $primary;
        border-radius: 9px 0 0 9px;
        width: 0;
        height: 180%;
        border-radius: 0 0 50% 50%;
        transition: 0.5s;
        z-index: -1;
      }
      &:hover::after {
        width: 50%;
      }
    }
  }
}

#offcanvas-slide {
  .uk-offcanvas-bar {
    background: #7a6f6f;
    cursor: default;
    width: 250px;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */

    .uk-accordion-title::before {
      display: none;
    }

    .uk-offcanvas-close {
      color: #fff;
      transition: $transition;

      &:hover {
        color: red;
      }
    }

    .logo {
      img {
        width: 130px;
        margin: 0 auto;
        display: block;
      }
    }

    .navbar {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        border-bottom: 1px solid #c5c1c1;
        a {
          color: #fff;
          font-size: 16px;
          text-transform: capitalize;
          justify-content: flex-start;
          display: block;
          padding: 0.7rem;
          transition: $transition;

          &:hover {
            letter-spacing: 1px;
          }
        }
      }

      .uk-accordion-content {
        background: rgb(255, 255, 255);
        .uk-nav {
          li {
            border-bottom: none;

            a {
              font-size: 14px;
              padding: 0.7rem 1rem;
            }
          }
        }
        .dropdown-list {
          color: #999;
          &:hover {
            color: #666;
            letter-spacing: 0px;
          }
        }
      }

      .uk-accordion-title > span {
        transition: transform 0.5s;
        margin-left: 0.3rem;
        width: 15px;
      }
      .uk-open > .uk-accordion-title > span {
        transform: rotate(90deg);
      }
      .uk-open > .uk-accordion-title {
        font-weight: bold;
        letter-spacing: 1px;
      }
    }
  }
  .uk-offcanvas-bar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  .uk-button {
    background: transparent !important;
    border: 1px solid #fff;
    margin-top: 1rem;
    transition: $transition;
    a {
      transition: $transition;
    }

    &:hover {
      background: #fff !important;
    }
    &:hover a {
      color: $primary !important;
    }
  }

  .overlay {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    // background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(2px);
  }
}

// ------------ hero banner ------------------
.hero-banner {
  margin-top: -1.2rem;

  .slider-hero-img {
    width: 50%;
    height: 60%;
    border: 5px solid #fff;
    position: absolute;
    z-index: 10000000;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
  }
  .hero-img {
    position: relative;
    width: 100%;
    height: 100%;

    .img-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.75);
      top: 0;
      left: 0;
    }
  }
  .slider-txt {
    margin-left: 40px;
    h3 {
      border-left: 7px solid #fff;
      padding-left: 1rem !important;
      font-weight: bold;
      font-size: 50px;
      position: relative;
      display: inline-block;
      z-index: 1;
    }

    p {
      font-weight: bold;
      color: #fff;
      font-size: 27px;
    }
  }
  .uk-slidenav-previous {
    left: 50%;
    transform: translate(-130%, -50%);
    top: 47%;

    &:hover .slider-btn > img {
      transform: rotate(360deg);
    }
  }
  .uk-slidenav-next {
    right: -5px;

    &:hover .slider-btn > img {
      transform: rotate(540deg);
    }
  }
  .uk-slidenav {
    svg {
      display: none;
    }
  }
  .slider-btn {
    background: #fff;
    border-radius: 9px;
    padding: 0.5rem;
    img {
      height: 30px;
      transition: all 1s ease;
    }
  }
  .uk-position-center-right {
    .slider-btn {
      img {
        transform: rotate(180deg);
      }
    }
  }
}

// ---------------- stat -------------------
.stat {
  background: $bg;
  padding-top: 3rem;
  padding-bottom: 3rem;
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    h5 {
      margin: 0;
      font-weight: bold;
      font-size: 30px;
    }
    p {
      margin: 0;
      color: $primary;
    }
    i {
      font-size: 39px;
      color: $primary;
      margin-right: 1rem;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 41px;
        height: 41px;
        background: rgba(0, 0, 0, 0.1);
        left: 0;
      }
    }
    .bottom::after {
      top: 60px;
      border-radius: 500px 500px 0 0;
    }
    .top::after {
      bottom: 60px;
      border-radius: 0 0 500px 500px;
    }
  }
}

// ------------------ about -------------------
.about {
  padding-top: 3rem;
  padding-bottom: 3rem;
  .about-img {
    text-align: center;
    position: relative;

    .img {
      height: 400px;
      animation: upDown 2s ease-in-out infinite alternate-reverse both;
    }
    @keyframes upDown {
      from {
        transform: translateY(0);
      }
      from {
        transform: translateY(9%);
      }
    }
    .about-btn {
      clip-path: polygon(0 11%, 90% 0, 100% 100%, 0% 100%);
      background: $primary;
      position: absolute;
      bottom: 6%;
      right: 28%;
      a {
        color: #fff;
        padding: 1.7rem 3rem 1.7rem 1.5rem;
        display: block;
        i {
          margin-left: 0.3rem;
          transition: $transition;
        }
      }
      &:hover a > i {
        transform: scale(1.5);
      }
    }
    .plane {
      height: 170px;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
      img {
        height: 100%;
      }
    }
  }
  .about-txt {
    .txt-heading {
      h3 {
        color: $primary;
        font-weight: bold;
        font-size: 30px;

        span {
          color: $color;
          font-size: 45px;
          font-weight: bold;
          margin-right: 0.5rem;
        }
      }
    }
    p {
      line-height: 39px;
    }
  }
}

// ------------------ our work ----------------
.work {
  background: $bg;
  padding-bottom: 1rem;
  position: relative;

  .bg-img {
    position: absolute;
    top: 27%;
    left: -1%;
    transform: rotate(-34deg);
    img {
      height: 50px;
    }
  }
}

.swiper-wrapper {
  padding-bottom: 3rem;
  .wrapper {
    background: #ffffff;
    overflow: hidden;
    position: relative;

    .wrap {
      img {
        transition: all 2s ease-in;
        min-height: 300px;
        object-fit: cover;
      }

      h5 {
        margin: 1rem 1rem 0.5rem 1rem;
        transition: $transition;
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: #fff;
        font-size: 20px;
        z-index: 1;
      }
      a {
        margin: 1rem 1rem 0.5rem 1rem;
        transition: $transition;
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: #fff;
        font-size: 14px;
        z-index: 1;
        opacity: 0;
        i {
          margin-right: 0.5rem;
          transition: $transition;
        }
        &:hover i {
          transform: scale(1.5);
        }
      }
    }
    &:hover .wrap > img {
      transform: scale(1.1);
    }
    &:hover .wrap > h5 {
      bottom: 40px;
    }
    &:hover .wrap > a {
      opacity: 1;
    }
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(transparent, #000);
      top: 0;
      left: 0;
    }
  }
}

// ------------------ our gallery ---------------
.gallery {
  .button-switch {
    font-size: 1.5em;
    height: 1.875em;
    margin: 0 auto;
    position: relative;
    width: 4.5em;
    left: 2%;

    .lbl-off,
    .lbl-on {
      display: block;
      font-size: 0.9em;
      font-weight: bold;
      line-height: 1em;
      position: absolute;
      top: 0.5em;
      transition: $transition;
      text-transform: uppercase;
    }

    .lbl-off {
      right: 0;
      color: #000;
      opacity: 0.3;
      text-transform: capitalize;
      top: -6%;
    }

    .lbl-on {
      color: #000;
      opacity: 1;
      left: -66%;
      text-transform: capitalize;
      top: -6%;
    }

    .switch {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      // --
      height: 0;
      font-size: 1em;
      left: 0;
      line-height: 0;
      outline: none;
      position: absolute;
      top: 0;
      width: 0;
      cursor: pointer;

      &:before,
      &:after {
        content: "";
        font-size: 1em;
        position: absolute;
      }

      &:before {
        border-radius: 1.25em;
        background: #999;
        height: 1.5rem;
        left: -0.25em;
        top: -0.1875em;
        transition: $transition;
        width: 3rem;
      }

      &:after {
        box-shadow: 0 0.0625em 0.375em 0 #666;
        border-radius: 50%;
        background: #fff;
        height: 1rem;
        transform: translate(-2px, -0.8px);
        transition: $transition;
        width: 1rem;
      }

      &:checked {
        &:after {
          transform: translate(1.3rem, -0.05rem);
        }

        & ~ .lbl-off {
          opacity: 1;
        }

        & ~ .lbl-on {
          opacity: 0.3;
        }
      }

      &#switch-blue {
        &:checked:before {
          background: $primary;
        }
      }
    }
  }

  .gallery-bg {
    background-image: url(../img/hero-img-2.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 1rem;
    position: relative;
  }
  .bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
  }
}

// ------------------ our blog ---------------
.blog {
  .wrapper {
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04),
      0px 8px 16px rgba(0, 0, 0, 0.08);
    border-radius: 9px;
    overflow: hidden;
    padding-bottom: 2rem;
    .wrap {
      overflow: hidden;
      height: 200px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
      }

      .read-more {
        position: absolute;
        top: -3%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 1;
        transition: $transition;

        a {
          position: relative;
          margin: 0;
          opacity: 1;
          bottom: 0;
          left: 0;
          color: #fff;

          i {
            color: #fff;
          }
        }
      }
      .overlay {
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition: $transition;
      }
    }
    &:hover {
      .wrap > .read-more {
        top: 50%;
      }
    }
    &:hover {
      .wrap > .overlay {
        opacity: 1;
        visibility: visible;
      }
    }
    .content {
      padding: 1rem;
    }
    .footer {
      background: rgba(0, 0, 0, 0.5);
      padding: 0.5rem 1rem;
      position: absolute;
      bottom: 0;
      width: 100%;

      span {
        font-size: 12px;
        color: #fff;
      }
      .dot {
        display: block;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background: #fff;
        margin: 0 0.5rem;
      }
    }

    p {
      margin: 0.5rem 0;
      font-size: 14px;
    }
    h5 {
      margin: 0;
      font-weight: bold;
      margin-top: 0.5rem;
    }
    a {
      i {
        margin-right: 0.5rem;
        transition: $transition;
      }
      &:hover i {
        transform: scale(1.5);
      }
    }
  }
}
.blog-page {
  padding-bottom: 9rem;
  padding-top: 3rem;
  .content {
    span {
      font-size: 12px;
      color: #555;
    }
    .dot {
      display: block;
      height: 5px;
      width: 5px;
      border-radius: 50%;
      background: #555;
      margin: 0 0.5rem;
    }
    h3 {
      margin: 0;
      margin-bottom: 0.7rem;
      font-weight: bold;
    }
    img {
      width: 100%;
      height: 500px;
    }
  }
  .sidebar {
    position: sticky;
    top: 70px;
    height: 100%;
    .uk-search-input {
      border-radius: 9px;
    }
    .uk-search-default .uk-search-icon {
      background: $primary;
      color: #fff;
      border-radius: 0 9px 9px 0;
    }
    .uk-search-default {
      width: 100%;
    }
    .uk-list {
      position: relative;
      li {
        background: $bg;
        border-bottom: 1px solid $border;
        margin: 0;
        padding: 0.5rem 2rem;
        a {
          color: #555;
        }
        i {
          color: #555;
          margin-right: 1rem;
        }
      }
      .active-category {
        background: $primary;

        a,
        i {
          color: #fff;
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 10px;
        height: 100%;
        width: 5px;
        background: #fff;
      }
    }
    .latest-post {
      background: $bg;
      border-left: 5px solid $primary;
      padding: 2rem;
      margin-top: 3rem;
      .txt-heading {
        h3 {
          font-weight: bold;
        }
        span {
          color: #555;
        }
        .circle {
          position: absolute;
          top: -5px;
          right: -10px;
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }
      img {
        height: 60px;
        width: 100%;
        transition: all 2s ease-in;
      }
      .latest-post-content {
        padding-left: 1rem;
        a {
          font-weight: bold;
        }
      }
    }
  }
}
// ---------------- out teams ---------------------
.team {
  padding-bottom: 3rem;
  .swiper-slide {
    padding-bottom: 3rem;
    // .odd {
    //   background: #555;
    // }
    // .even {
    //   background: #d9d9d9;
    // }
    // .top-team-bg {
    //   height: 100px;
    //   width: 200px;
    //   border-radius: 150px 150px 0 0;
    //   margin-top: 3rem;
    //   margin-right: auto;
    //   margin-left: auto;
    // }
    // .bottom-team-bg {
    //   height: 100px;
    //   width: 200px;
    //   border-radius: 0 0 150px 150px;
    //   margin-right: auto;
    //   margin-left: auto;
    // }
    img {
      // position: absolute;
      // top: 0;
      // width: 200px;
      // height: 248px;
      height: 200px;
      // border-radius: 50%;
      // left: 50%;
      // transform: translateX(-50%);
      margin: 0 auto;
      display: block;
    }
    h5,
    p {
      text-align: center;
      margin: 0;
    }
    h5 {
      font-weight: bold;
      font-size: 20px;
      margin-top: 1rem;
    }
    p {
      font-size: 14px;
    }
  }
}

// ---------- testimonials -----------------
.testimonials {
  .wrapper {
    margin-top: -8rem;
  }
  .slider-testimonial-img {
    width: 46%;
    height: 57%;
    border: 1px solid #fff;
    position: absolute;
    z-index: 10000000;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
  }
  .testimonial-img {
    position: relative;
    width: 100%;
    height: 100%;

    .img-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.7);
      top: 0;
      left: 0;
    }
  }
  .wrap {
    width: 46%;
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid #ffffff;
    height: 340px;
    margin-right: 40px;
    border-left: 5px solid $primary;
    top: 50% !important;
    transform: translateY(-50%);

    .slider-txt {
      padding: 3rem;
      position: relative;
      .quote {
        position: absolute;
        top: 5px;
        right: 5px;
        img {
          height: 40px;
        }
      }
      a {
        color: #999;
        &:hover {
          color: #666;
        }
      }
      p,
      h5 {
        color: $primary;
      }
      p {
        height: 122px;
        overflow: hidden;
        margin: 0;
      }
      h5 {
        font-weight: bold;
        font-size: 22px;
        margin: 0.5rem 0;
      }
      span {
        color: #555;
        font-size: 14px;
      }
    }
  }
  .uk-slidenav {
    color: #999;
    &:hover {
      color: #666;
    }
  }
  .uk-slidenav-next {
    right: 50%;
    transform: translate(460%, 310%);
    top: 50%;
  }
  .uk-slidenav-previous {
    left: 50%;
    transform: translate(140%, 310%);
    top: 50%;
  }
}

// ------------------ charity ---------------
.charity {
  padding-top: 3rem;
  padding-bottom: 3rem;
  h3 {
    font-size: 40px;
    font-weight: bold;
    position: relative;
    color: $primary;
    span {
      display: inline-block;
      position: relative;
      z-index: 1;
      color: #fff;
      padding: 0.5rem 3rem;

      img {
        position: absolute;
        left: 0;
        z-index: -1;
        top: 5px;
      }
    }
  }
  .charity-btn {
    position: relative;
    display: inline-block;

    .arrow {
      position: absolute;
      width: 100px;
      right: -76%;
      top: -59%;
    }
  }
  svg {
    #odd {
      transition: $transition;
      opacity: 0.1;
      animation: odd 3s ease-in-out infinite alternate-reverse both;
    }
    #even {
      transition: $transition;
      animation: even 3s ease-in-out infinite alternate-reverse both;
    }
  }
  @keyframes odd {
    from {
      opacity: 0.1;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes even {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.1;
    }
  }
}

// ------------------- partner ----------------
.partner {
  padding-bottom: 9rem;
  .partner-bg {
    background: $bg;
  }
  .swiper-slide {
    border-right: 3px solid #fff;
    padding-top: 3rem;
    padding-bottom: 3rem;
    justify-content: center;
    display: flex;
  }
}

//   ---------------- footer ------------------
footer {
  background: $primary;
  .footer-content {
    background: #fff;
    padding: 2rem;
    margin-top: -5rem;
    border: 1px solid #e2dcdc;
    border-top: 5px solid $primary;

    .footer-wrapper {
      h4 {
        margin: 0;
        font-weight: bold;
      }
      a,
      i,
      li,
      p {
        color: #555;
      }
      li:hover {
        color: #000;
      }
      li:hover a,
      li:hover i {
        color: #000;
      }

      .footer-info {
        img {
          width: 200px;
          object-fit: contain;
        }
        h4 {
          margin-left: 0.5rem;
        }
      }
      .quick-links {
        .uk-list {
          li {
            a {
              color: #555;
            }

            &:hover a {
              color: #000;
            }
          }
        }
      }
    }
  }

  .foot {
    padding: 1rem 0;
    span {
      color: #fff;
      a {
        color: #fff;
        font-weight: bold;
      }
    }
    .social-media {
      a {
        color: #fff;
        transition: $transition;

        &:hover {
          transform: translateY(-5px);
        }
      }
    }
  }
}

//   ---------------- go to top ------------------
.go-to-top {
  cursor: pointer;
  display: inline-block;
  right: 5%;
  bottom: 15%;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1024;
  transition: all 1s linear;

  i {
    color: $primary;
    transition: $transition;
  }

  &:hover i {
    transform: translateY(-10px);
  }
}

//   ---------------- breadcrumb ------------------
.breadcrumb {
  background: $bg;
  margin-top: -1rem;
  padding: 1rem 0;

  .txt {
    .link {
      position: absolute;
      top: 85%;
      right: 0;
      transform: translateY(-50%);

      p {
        margin: 0;
        padding-left: 0.5rem;
      }
      a {
        display: block;
        padding-right: 0.5rem;

        &:hover {
          i {
            transform: scale(1.3);
          }
        }
      }
      i {
        margin-right: 0.5rem;
        transition: $transition;
      }
    }
  }
  .pole {
    position: relative;
  }
  .pole::after {
    position: absolute;
    content: "";
    width: 41px;
    height: 41px;
    background: rgba(0, 0, 0, 0.1);
    left: 50%;
    transform: translateX(-50%);
  }
  .bottom::after {
    top: -25px;
    border-radius: 500px 500px 0 0;
  }
  .top::after {
    bottom: 90px;
    border-radius: 0 0 500px 500px;
  }
}

//   ---------------- about info ------------------
.about-info {
  margin-top: 3rem;
  .txt-heading {
    h3 {
      font-weight: bold;
      span {
        margin-right: 0.5rem;
        color: $color;
        font-weight: bold;
        font-size: 37px;
      }
    }
  }
  p {
    text-align: justify;
    margin-bottom: 0;
  }
  .who-are-we {
    padding-top: 3rem;
  }
  .how-we-work {
    background: $bg;
    padding: 3rem;
    border-left: 5px solid $primary;
  }
}

//   ---------------- founder ------------------
.founder {
  .founder-bg {
    background-image: url(../img/founder.jpg);
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    background-position: center;
    .wrapper {
      position: relative;
      z-index: 2;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
    h3 {
      font-weight: bold;
      text-align: center;
      margin: 0;
    }
    h4 {
      text-align: center;
      font-style: italic;
      margin: 0;
      margin-top: 1rem;
      font-size: 16px;
      margin-bottom: 0.5rem;
    }
  }
  .founder-txt {
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid #ffffff;
    padding: 2rem;

    p {
      margin-bottom: 0;
      text-align: justify;
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

//   ---------------- our mission ------------------
.our-mission {
  margin-top: 5rem;
  .cloud {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);

    img {
      height: 150px;
    }
  }
  .txt {
    background: #ffffff;
    box-shadow: 6px 5px 15px rgba(0, 0, 0, 0.08),
      -6px -5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 9px;
    margin-top: -2rem;
    padding: 3rem;
    p {
      text-align: justify;
      margin: 0;
    }
  }
}

//   ---------------- our objective ------------------
.our-objective {
  margin-top: 1rem;
  .wrapper {
    display: flex;
    align-items: center;
    background: #ffffff;
    box-shadow: 6px 5px 15px rgba(0, 0, 0, 0.08),
      -6px -5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 9px;
    padding: 2rem;
    margin-bottom: 3rem;
    i {
      margin-right: 1rem;
    }
    p {
      margin: 0;
      text-align: justify;
    }
    h5 {
      margin: 0;
      font-weight: bold;
      margin-bottom: 0.5rem;
      font-size: 18px;
    }
  }
  .active-content {
    background: $primary;

    i,
    p,
    h5 {
      color: #fff;
    }
  }
}

//   ---------------- board of directors ------------------
.bod {
  .wrapper {
    margin-bottom: 3rem;
    .bod-img {
      text-align: center;
      overflow: hidden;

      img {
        width: 50%;
        transition: all 2s ease-in;
      }

      &:hover img {
        transform: scale(1.1);
      }
    }
    h5,
    p {
      text-align: center;
      margin: 0;
    }
    h5 {
      font-weight: bold;
      font-size: 20px;
      margin-top: 1rem;
    }
    p {
      font-size: 14px;
    }
  }
}

//   ---------------- frequently asked questions ------------------
.faq {
  background: $bg;
  padding-bottom: 3rem;
  margin-bottom: 8rem;
  .wrapper {
    ul {
      width: 80%;
      margin: 0 auto;
      li {
        .uk-accordion-title {
          background: rgba(0, 0, 0, 0.5);
          color: #fff;
          padding: 0.5rem 1rem;
          font-size: 16px;

          &::before {
            backdrop-filter: invert(1);
          }
        }
        .uk-accordion-content {
          background: #fff;
          margin-top: 0;
          padding: 0.5rem 1rem;
        }
      }
    }
  }
  .uk-open > .uk-accordion-title::before {
    background-image: url(../img/minus.png);
  }
  .uk-accordion-title::before {
    background-image: url(../img/plus.png);
    background-size: 50%;
  }
}

//   ---------------- photo & video ------------------
.photo-page,
.video-page {
  padding-top: 3rem;
  padding-bottom: 3rem;
  .swiper-wrapper {
    width: auto;
  }
  .photo-wrapper,
  .video-wrapper {
    padding-bottom: 3rem;

    h4 {
      margin: 0.5rem 0;
      font-weight: bold;
      font-size: 16px;
    }
  }
}

//   ---------------- work ------------------
.our-work {
  padding-top: 3rem;
  padding-bottom: 6rem;
  .work-wrapper {
    padding-bottom: 3rem;
    .wrapper {
      img {
        transition: all 2s ease-in;
      }
      &:hover img {
        transform: scale(1.1);
      }
    }
  }
}

//   ---------------- contact ------------------
.contact {
  padding-top: 3rem;
  h5 {
    margin: 0;
    font-weight: bold;
  }
  .contact-form {
    background: #ffffff;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    padding: 3rem;
    margin-top: 1rem;
    margin-bottom: 3rem;

    form {
      .form-field {
        margin-bottom: 2rem;
      }
    }
  }
  .contact-info {
    margin-top: 1rem;
    margin-bottom: 3rem;
    .wrapper {
      background: $bg;
      border-left: 5px solid $primary;
      padding: 1rem;
      margin-bottom: 1rem;
      align-items: center;
      display: flex;

      p {
        margin: 0;
      }
      i {
        font-size: 40px;
        margin-right: 1rem;
        color: $primary;
      }
      a {
        color: #666;
      }
      h5 {
        margin-bottom: 0.5rem;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.uk-input:focus,
.uk-select:focus,
.uk-search-input:focus,
.uk-textarea:focus {
  border-color: $primary !important;
}

//   ---------------- map ------------------
.map {
  padding-bottom: 8rem;
}

// ----------------------------------
@import "responsive";
